.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url("./img/clash_of_clans.jpg");
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

section{
  font-size: 100%;;
  color: white;
}

.btn-outline-warning {
  color: #ffc107;
  background-color: #357780 !important;
  background-image: none;
  border-color: #ffc107;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  background-color: #bf823a !important;
}

table{
  background-color: #347780 !important;
}

body {
  background-image: url("./img/clash_of_clans.jpg");
  background-color: #cccccc;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
